/*overall*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, i, ol, ul, li, thead, tr, th, footer, section {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background-color: dimgrey; }

#section {
  background-color: #FFFFFF;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 26px; }
  @media only screen and (max-width: 751px) {
    #section {
      max-width: 640px;
      padding-left: 37px;
      padding-right: 40px; } }
  @media only screen and (max-width: 451px) {
    #section {
      padding-left: 5px;
      padding-right: 5px; } }
  @media only screen and (max-width: 351px) {
    #section {
      padding: 0; } }

.center {
  text-align: center; }

.midl {
  margin: 0 auto; }

a {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.fs_24 {
  font-size: 24px; }

.fs_22 {
  font-size: 22px; }

.orange {
  color: #FF621F; }

.italic {
  font-style: italic; }

h4 {
  font-family: PTSans;
  font-size: 27px;
  color: #18374b; }

h2 {
  font-weight: bold; }

.rem {
  margin: 0 -30px; }
  @media only screen and (max-width: 981px) {
    .rem {
      margin: 0; } }

/*---------------header-------------------*/
#logo {
  text-align: left;
  width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 351px) {
    #logo {
      padding-left: 10px; } }

@media only screen and (max-width: 451px) {
  h4 {
    font-size: 22px; } }

@media only screen and (max-width: 351px) {
  #logo_name {
    max-width: 300px; } }

h2[class="orange"] {
  margin-bottom: 52px; }

@media only screen and (max-width: 1001px) {
  h2[class="black"] {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 28px; } }

.denotation {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #2B2E35;
  margin-bottom: 32.6px; }
  @media only screen and (max-width: 751px) {
    .denotation {
      margin-bottom: 27.7px; }
      .denotation h2 {
        font-size: 30px; }
      .denotation h2 span {
        display: block; } }
  @media only screen and (max-width: 641px) {
    .denotation h2 {
      font-size: 25px; } }
  @media only screen and (max-width: 451px) {
    .denotation h2 {
      font-size: 18px; } }
  @media only screen and (max-width: 351px) {
    .denotation h2 {
      font-size: 16px; } }

.line {
  border-top: 1px solid #2B2E35;
  margin: 27px -9px 52px; }
  @media only screen and (max-width: 751px) {
    .line {
      margin: 27px -15px 25px; } }

.button {
  height: 75.4px;
  background-color: #FF621F;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #ffffff; }
  @media only screen and (max-width: 640px) {
    .button {
      font-size: 20px; } }

.button_1 {
  background-color: #FF621F;
  border: 0px;
  width: 100%;
  height: 70.4px; }

.button-line {
  height: 5px;
  background-color: #FF332A; }

#btn-1 {
  max-width: 436px;
  margin: 25px auto 38px; }
  @media only screen and (max-width: 751px) {
    #btn-1 {
      margin-top: 0;
      margin-bottom: 58px; } }

.button_1:hover {
  background-color: beige;
  color: #FF332A; }

.button_1:visited {
  text-decoration: none; }

footer .button {
  height: 107px;
  font-size: 40px;
  margin-top: 65px; }
  @media only screen and (max-width: 1001px) {
    footer .button {
      font-size: 30px; } }
  @media only screen and (max-width: 751px) {
    footer .button {
      height: 55px;
      font-size: 27px;
      min-height: 55px; } }
  @media only screen and (max-width: 641px) {
    footer .button {
      font-size: 16px; } }
  @media only screen and (max-width: 451px) {
    footer .button {
      height: 55px;
      max-width: 310px;
      margin: 20px auto; } }
footer .button_1 {
  height: 100px; }
  @media only screen and (max-width: 751px) {
    footer .button_1 {
      height: 50px; } }
  @media only screen and (max-width: 451px) {
    footer .button_1 {
      height: 50px; } }
footer .button-line {
  height: 7px; }
  @media only screen and (max-width: 751px) {
    footer .button-line {
      height: 5px; } }

/*blocks*/
@media only screen and (max-width: 751px) {
  .revers {
    flex-direction: column-reverse;
    margin: 0 -15px; } }
.orange-block {
  width: 50%;
  background-color: #FF621F;
  color: aliceblue; }
  .orange-block ul {
    padding-right: 20px; }
  .orange-block li {
    margin-top: 15px;
    margin-left: 86px;
    margin-right: 36px; }
    @media only screen and (max-width: 451px) {
      .orange-block li {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 10px; } }
  .orange-block h2 {
    font-size: 22px; }
  @media only screen and (max-width: 751px) {
    .orange-block {
      width: 100%; } }

h3[class="italic"] {
  font-family: Georgia; }

.gray-block {
  width: 50%;
  background-color: #EAEAEA;
  flex-grow: 1;
  padding-right: 31px; }
  @media only screen and (max-width: 751px) {
    .gray-block {
      width: 100%; } }
  @media only screen and (max-width: 451px) {
    .gray-block {
      font-size: 16px;
      padding-right: 5px; } }

.flex-container {
  display: flex; }

.date {
  margin-left: 17px;
  margin-top: 28px;
  margin-bottom: 55px; }

#rectangle-date {
  width: 126px;
  height: 121px;
  background-image: url(../../images/rectangle%203.png);
  font-family: PTSans;
  margin-top: 10px; }

.dotted-line {
  border-top: 1px dashed white;
  width: 90%; }

.dotted-line_2 {
  border-top: 1px dashed #2B2E35;
  width: 90%;
  margin: 35px auto; }
  @media only screen and (max-width: 751px) {
    .dotted-line_2 {
      margin-top: 15px; } }

#monthe {
  font-size: 22px;
  text-align: center;
  color: #ffffff; }

#day {
  font-family: PTSans;
  font-size: 70.5px;
  font-weight: bold;
  text-align: center;
  color: #c2c2c2; }

#element-date-2 {
  margin-left: 32px;
  width: 100%; }

div[id="element-date-2"] p {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #ffffff; }

#time {
  margin-top: 10px;
  font-size: 24px;
  text-align: left;
  font-weight: 100; }

.orange-block ul {
  font-family: PTSans;
  font-size: 18px;
  text-align: left;
  color: #ffffff; }

.gray-name {
  font-size: 21px;
  margin-top: 36px;
  margin-bottom: 18px;
  font-weight: bold; }

.timer {
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto; }

.element-timer {
  color: aliceblue;
  width: 67px;
  height: 67px;
  border-radius: 10px;
  background-color: #2b2e35;
  font-size: 48px; }

div[class="gray-name"] > p {
  font-size: 19px;
  text-align: left;
  margin-left: 38px;
  font-weight: bold;
  margin-top: 50px; }

div[class="element-timer"] > p {
  color: #2B2E35;
  font-size: 18px;
  margin-top: 10px; }

.element-gray {
  font-size: 22px;
  text-align: left;
  color: #2b2e35; }
  .element-gray i {
    color: #FF332A;
    margin-right: 14px;
    margin-left: 42px; }
    @media only screen and (max-width: 451px) {
      .element-gray i {
        margin-right: 10px;
        margin-left: 10px; } }

#format {
  margin: 50px auto 0;
  font-family: Georgia;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  color: #2b2e35;
  max-width: 560px; }
  @media only screen and (max-width: 751px) {
    #format {
      font-size: 27.8px;
      margin-bottom: 30px; } }

span[id="des"] {
  font-size: 30px; }
  @media only screen and (max-width: 751px) {
    span[id="des"] {
      display: none; } }

span[id="mob"] {
  display: none; }
  @media only screen and (max-width: 751px) {
    span[id="mob"] {
      display: inline-block;
      font-size: 35px; } }

@media only screen and (max-width: 751px) {
  span[id="all"] {
    display: block; } }

.rectangle-5 {
  max-width: 382px;
  margin: 47px auto 25px;
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
  background-color: #ff621f; }
  @media only screen and (max-width: 751px) {
    .rectangle-5 {
      margin-top: 0;
      margin-bottom: 15px; } }

div[class="rectangle-5"] + p {
  font-size: 29px;
  text-align: center;
  color: #2b2e35;
  width: 70%;
  margin: 0 auto; }
  @media only screen and (max-width: 751px) {
    div[class="rectangle-5"] + p {
      width: 100%; } }
  @media only screen and (max-width: 751px) {
    div[class="rectangle-5"] + p span {
      display: block; } }

/*--------content---------*/
.heading {
  background-color: #F8F8F8; }
  .heading h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0; }
  @media only screen and (max-width: 751px) {
    .heading {
      background-color: #FFFFFF; }
      .heading h2 {
        margin: 0;
        font-size: 21px; }
      .heading .rem {
        margin: 0 -15px; }
      .heading .head-name {
        width: 100%; } }

@media only screen and (max-width: 751px) {
  .overall-content .rem {
    margin: 0 -15px; }
  .overall-content p[class="basic-content"] {
    font-size: 22px; } }
  @media only screen and (max-width: 751px) and (max-width: 451px) {
    .overall-content p[class="basic-content"] {
      font-size: 18px; } }

.basic-content {
  margin-top: 15px; }
  @media only screen and (max-width: 751px) {
    .basic-content {
      margin: 20px 0;
      padding: 10px; } }

.heading + div {
  background-image: url(../../images/abstraction_1.png);
  background-repeat: no-repeat;
  background-size: cover; }

.collage {
  background-image: url(../../images/abstraction_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media only screen and (max-width: 1001px) {
    .collage {
      padding-top: 15px;
      padding-bottom: 15px; }
      .collage img[alt="collage"] {
        display: none; }
      .collage div {
        width: 562px;
        height: 341px;
        margin: 0 auto;
        background-image: url(../../images/collage_mob.jpg); } }
  @media only screen and (max-width: 640px) {
    .collage div {
      width: 300px;
      height: 182px;
      margin: 0 auto;
      background-image: url(../../images/collage_mob_300.jpg); } }
  @media only screen and (max-width: 451px) {
    .collage {
      display: none; } }

footer {
  background-image: url(../../images/abstraction_3.png);
  background-repeat: no-repeat;
  background-position: top; }

footer > div p {
  font-size: 26px;
  margin-top: 10px; }
@media only screen and (max-width: 751px) {
  footer > div .rem {
    margin: 0 -15px; }
  footer > div p {
    font-size: 23px; } }
@media only screen and (max-width: 351px) {
  footer > div p {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px; } }

.net {
  width: 125px;
  margin: 30px auto; }
  .net a {
    margin: auto; }

.fa-google-plus-square {
  color: #43668B; }

.fa-facebook-official {
  color: #3F5693; }

.fa-twitter-square {
  color: #3BADF3; }

.fa:hover {
  color: red; }

/*# sourceMappingURL=style.css.map */
